*.env
*.log
venv
.idea
.ssh
*.sublime-*
.vscode/*
**/__pycache__/
.mypy_cache/
logs
*.aws
server/features/dl/.lh/
server/features/dl/.history/
server/features/dl/.vscode/
server/features/dl/__pycache__/
.venv/*
*/test_images/*
*/*/*/test_images/*
server/features/app/char/
server/features/app/ocr/
server/api/models/model.pt
